
html {
	font-size:45.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 172.8rem;
}.home-iuK {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.home-iuK .auto-group-pyer-rkd {
  box-sizing: border-box;
  padding: 2.8rem 4.1rem 2.7rem 4.1rem;
  width: 100%;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #09467e;
  flex-shrink: 0;
}
.home-iuK .auto-group-obux-iXw {
  box-sizing: border-box;
  padding: 18rem 26rem 7.8rem 26rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-iuK .auto-group-obux-iXw .auto-group-w3bb-STw {
  margin-bottom: 1.7rem;
  width: 100%;
  height: 21.6rem;
  display: flex;
  column-gap: 28rem;
  align-items: center;
  flex-shrink: 0;
}
.home-iuK .auto-group-obux-iXw .auto-group-w3bb-STw .group-1-Z2m {
  box-sizing: border-box;
  padding: 1.3rem 0.7rem;
  height: 100%;
  background-color: #f0f0f0;
  border-radius: 5rem;
  flex-shrink: 0;
}
.home-iuK .auto-group-obux-iXw .auto-group-w3bb-STw .group-1-Z2m .image-removebg-preview-2-hPs {
  width: 20.2rem;
  height: 19rem;
  position: relative;
  background-size: 235.644% 220%;
  background-position: -0rem 0;
  background-image: url('../assets/image-removebg-preview-2.png');
}
.home-iuK .auto-group-obux-iXw .auto-group-w3bb-STw .group-2-aCm {
  box-sizing: border-box;
  padding: 3.1rem 0.4rem;
  height: 100%;
  background-color: #f0f0f0;
  border-radius: 5rem;
  flex-shrink: 0;
}
.home-iuK .auto-group-obux-iXw .auto-group-w3bb-STw .group-2-aCm .image-removebg-preview-1-Kg9 {
  width: 20.8rem;
  height: 15.4rem;
  position: relative;
  background-size: 185.573% 220%;
  background-position: -16.2993rem -0rem;
  background-image: url('../assets/image-removebg-preview-1.png');
}
.home-iuK .auto-group-obux-iXw .auto-group-w3bb-STw .group-3-Qhb {
  box-sizing: border-box;
  padding: 0.7rem 1.5rem 0.6rem 1.5rem;
  height: 100%;
  background-color: #f0f0f0;
  border-radius: 5rem;
  flex-shrink: 0;
}
.home-iuK .auto-group-obux-iXw .auto-group-w3bb-STw .group-3-Qhb .image-removebg-preview-3-M73 {
  width: 18.6rem;
  height: 20.3rem;
  position: relative;
  background-size: 255.914% 205.911%;
  background-position: -14.3rem -19rem;
  background-image: url('../assets/image-removebg-preview-3.png');
}
.home-iuK .auto-group-obux-iXw .auto-group-5udp-qnu {
  margin-right: 4.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-iuK .auto-group-obux-iXw .auto-group-5udp-qnu .medication-reminder-P3j {
  margin-right: 31.9rem;
  max-width: 19.8rem;
  text-align: center;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #1e1e1e;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-iuK .auto-group-obux-iXw .auto-group-5udp-qnu .calories-graphic-VcZ {
  margin-right: 36.5rem;
  max-width: 15.5rem;
  text-align: center;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #1e1e1e;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-iuK .auto-group-obux-iXw .auto-group-5udp-qnu .foods-ot9 {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #1e1e1e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-iuK .auto-group-xoyf-8vR {
  box-sizing: border-box;
  padding: 2.7rem 7.2rem 2.8rem 7.2rem;
  width: 100%;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #09467e;
  flex-shrink: 0;
}
.home-iuK .auto-group-tp1b-poF {
  box-sizing: border-box;
  padding: 7.8rem 11.8rem 6.1rem 11.7rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-iuK .auto-group-tp1b-poF .auto-group-vxbf-MoB {
  margin-bottom: 3.9rem;
  box-sizing: border-box;
  padding: 5.1rem 8.9rem 4.9rem 8.7rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
  border-radius: 5rem;
  flex-shrink: 0;
}
.home-iuK .auto-group-tp1b-poF .auto-group-vxbf-MoB .lorem-ipsum-gqT {
  margin-bottom: 1rem;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-iuK .auto-group-tp1b-poF .auto-group-vxbf-MoB .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-cz1 {
  max-width: 131.7rem;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-iuK .auto-group-tp1b-poF .auto-group-4vlh-RgZ {
  box-sizing: border-box;
  padding: 5.1rem 8.9rem 4.9rem 8.7rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
  border-radius: 5rem;
  flex-shrink: 0;
}
.home-iuK .auto-group-tp1b-poF .auto-group-4vlh-RgZ .lorem-ipsum-Mq7 {
  margin-bottom: 1rem;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-iuK .auto-group-tp1b-poF .auto-group-4vlh-RgZ .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-VwK {
  max-width: 131.7rem;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
